GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SPREADSHEET_ID=1fReVqi_It3MvE8iZvL2Z-61kARfXgKMZYyjK1nLvLas

# Admin authentication
ADMIN_PASSWORD=change-this-password
AUTH_SECRET=change-this-long-random-secret
